{
  "timezone": "Europe/London",
  "weekly": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "emoji": ":house:",
      "text": "Working from home",
      "days": ["monday", "friday"]
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "emoji": ":office:",
      "text": "In Office",
      "days": ["tuesday", "wednesday", "thursday"]
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "emoji": ":fork_and_knife:",
      "text": "Lunch",
      "days": ["monday", "tuesday", "wednesday", "thursday", "friday"],
      "from": "13:00",
      "to": "14:00"
    }
  ],
  "once": [
    {
      "id": "00000000-0000-0000-0000-000000000004",
      "emoji": ":beach_with_umbrella:",
      "text": "PTO",
      "date": "2026-01-01"
    },
    {
      "id": "00000000-0000-0000-0000-000000000005",
      "emoji": ":face_with_thermometer:",
      "text": "Sick Day",
      "date": "2026-01-02"
    }
  ]
}
